.image-container{
    float: left;
    width: 45%;
    margin-top:100px;
    background-color: #fff;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.product-image{
    width: 550px;
    height: 550px;
}