.header-store {
  overflow: hidden;
  color: #ffffff;
  padding-left: 60px;
  margin-bottom: 138px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store .search {
  width: 358px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: inherit;
  color: inherit;
  padding: 7px;
  margin-right: 65px;
  border-bottom: 1px solid #fff;
}

.header-store .search::placeholder {
  color: inherit;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  float: right;
}

.header-store .action {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
  position: relative;
  padding-bottom: 7px;
}

.header-store .action:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transform: scale(0);
  transform-origin: center left;
  left: 0;
  bottom:0;
  transition: all 200ms linear;
}

.header-store .action:hover:after {
  transform: scale(1);

}

.header-store .action.-last {
  margin-right: 0;
}


@media (max-width: 1325px){

  .header-store{
    padding-left:0;
  }

  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }


  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 1160px){
  
  .header-store [type="search"]{
    display: none;
  }

  .header-store > .navigation, .header-store > .title{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media(max-width: 1040px){
  .header-store{
    margin-bottom: 80px;
  }
}

@media (max-width: 600px){
  .header-store .action{
    margin-right: 15px;
  }
}

@media (max-width: 380px){
  .header-store{
    margin-bottom: 20px;
  }

  .header-store > .navigation{
    display: none;
  }
}