.header-store {
  overflow: hidden;
  color: #ffffff;
  padding-left: 60px;
}


.title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

.navigation {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  float: right;
}

.action {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
}

.action.-last {
  margin-right: 0;
}
