.product-description {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.product-description > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.product-description > .heart {
  width: 33px;
  height: 29px;
  position: absolute;
  top: 0;
  transform: translateX(calc(-100% - 47px)) translateY(9px);
  cursor: pointer;
}

.product-description > .heart.-active {
  background-color: #252c41;
}

.product-description .icon {
  transition: all 80ms linear;
}

.product-description .icon:hover {
  transform: scale(1.1);
}

.product-description > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.product-description > .item.-stars {
  margin-bottom: 5px;
}

.product-description > .item.-stars .star {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.product-description .star .icon.-active {
  display: none;
}

.product-description .star.-active .icon.-active {
  display: inline-block;
}

.product-description .star.-active .icon {
  display: none;
}

.product-description > .item.-stars + .item {
  margin-left: 7px;
}

.product-description > .item.-info {
  width: 200px;
  text-align: right;
}

.product-description .contrast {
  text-transform: uppercase;
  float: left;
}

.product-description .item.-last {
  margin-bottom: 73px;
}

.product-description > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;
}

.product-description > .text.-more {
  margin-bottom: 0;
}

.product-description .action {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 1160px) {
  .product-description > .title {
    margin-bottom: 30px;
  }

  .product-description > .heart {
    position: static;
    transform: none;
    margin-bottom: 30px;
    /* right: 250px;
    transform: translateY(0); */
  }

  .product-description > .stars {
    /* display: inline-block; */
    float: left;
  }

  .product-description > .stars + .item {
    padding-top: 5px;
  }

  /* .product-description > .stars + .item {
    display: inline-block;
  } */
}

@media (max-width: 1040px) {
  .product-description {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    min-width: 643px;
  }

  .product-description > .title {
    font-size: 30px;
  }

  .product-description > .heart {
    display: none;
  }

  .product-description > .stars {
    float: none;
  }

  .product-description > .stars + .item {
    display: block;
    padding: 0;
  }

  .product-description > .item.-info {
    margin-left: auto;
    margin-right: auto;
  }

  .product-description > .text {
    text-align: justify;
  }

  .product-description > .text.-more {
    margin-bottom: 98px;
  }
}

@media (max-width: 730px) {
  .product-description {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 480px) {
  .product-description > .text.-more {
    margin-bottom: 40px;
  }
}
