.product-photo{
    display:inline-block;
    background-color: #fff;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 550px;
    height: 550px;
    vertical-align: middle;
    margin-right: 78px;
}
