.product-photo {
  display: inline-block;
  background-color: #fff;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 550px;
  height: 550px;
  vertical-align: middle;
  margin-right: 157px;
}

.product-photo img {
  margin-left: 50px;
}

@media (max-width: 1290px){
  .product-photo{
    margin-right: 100px;
    width: 480px;
  }

  .product-photo img {
    margin-left: 10px;
  }
}


@media (max-width: 1160px){
  .product-photo{
    margin-right: 50px;
    width: 420px;
  }

  .product-photo img{
    margin-left: -50px;
  }
}

@media (max-width: 1040px){
  .product-photo{
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: center;
    height: auto;
    margin-bottom: 60px;
  }

  .product-photo img {
    width: 400px;
    padding: 0;
    margin-left: 0;
  }
}

@media (max-width: 450px){

  .product-photo{
    height: auto;
  }

  .product-photo img{
    width:95%;
  }
}