.product-description{
    display: inline-block;
    width: 553px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
}

.product-description > .title{
    font-size:25px;
    margin-bottom: 50px;
}

.product-description > .item{
    font-size: 20px;
    margin-bottom: 28px;
}

.product-description > .item.-info{
    width: 200px;
    text-align: right;
}

.product-description .contrast{
    text-transform: uppercase;
    float:left;
}

.product-description .item.-last{
    margin-bottom: 73px;
}

.product-description > .text{
    font-size: 18px;
    line-height: 30px;  
    margin-bottom: 35px;
}


.product-description .action{
    color: inherit;
    font-size: 18px;
    text-decoration: none;
}