.search-bar{
    width: 358px;
    line-height: 24px;
    background-color: transparent;
    border:none;
    font-size:20px;
    font-family: inherit;
    padding: 7px;
    color: inherit;
    margin-right: 65px;
    border-bottom: 1px solid #fff;
}

.search-bar::placeholder{
    color:inherit;
}