.wrapper-product {
  display: inline-block;
  width: 553px;
  vertical-align: middle;
  position: relative;
}

.wrapper-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}

.wrapper-product > .heart {
  width: 33px;
  height: 29px;
  position: absolute;
  transform: translateX(calc(-100% - 47px)) translateY(9px);
  cursor: pointer;
  /* background-image: url(../img/heart.png); */
  /* background-repeat: no-repeat; */
}

.wrapper-product .icon {
  transition: all 150ms linear;
}

.wrapper-product .icon:hover {
  transform: scale(1.1);
}
