.wrapper-product {
  display: inline-block;
  width: 553px;
  vertical-align: middle;
  position: relative;
}

.wrapper-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}

.wrapper-product > .heart {
  width: 33px;
  height: 29px;
  position: absolute;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  transform: translateX(calc(-100% - 47px)) translateY(9px);
  cursor: pointer;
  transition: all 200ms linear;
}

.wrapper-product > .heart:hover {
  transform: translateX(calc(-100% - 47px)) translateY(9px) scale(1.2);
}
