header {
  background-color: #e24647;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fff;
  font-size: 21px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
}
