header {
  background-color: #e24647;
  overflow: hidden;
  margin: 33vh 115px 0;
  padding: 55px 60px 95px;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  margin-left: 60px;
}

.btn-buy {
  display: block;
  text-align: center;
  width: 199px;
  height: 60px;
  background-color: #252c41;
  border: 2px solid inherit;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  margin-top: 20px;
}
